@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  padding: 10px 20px;
  box-shadow: 0 0 2px grey;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin-top: 20px;
}
